/* DEFAULTS
----------------------------------------------------------*/

#tudo {
	width:600px;
	font: 80%/1.2 Arial, Helvetica, sans-serif;
	margin:0 auto;
	padding:0 20px;
	color:#666;
	background:#fff;
	border:1px dotted #999;
	}
.foto{border:none;margin:10px;}
.left {float:left;}
.right {float:right;}
/* CSS para efeitos jQuery  */
#mascara {
	position:absolute;
	background:#000;
	z-index:1;
	top:0;
	}
.foto-ampliada {
	width: 500px;
	height: 375px;
	position:absolute;
	z-index:2;
	cursor:pointer;
	border:5px solid #999;
	}


body   
{
    background: #F1F1F1;
     
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}




p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 738px;
    height: 47px;
    margin-left: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}


/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.pageAdmin
{
    width: 1070px;
    background-color: #fff;
    margin: 5px auto 0px auto;
   border: 1px solid #4884CD;
    height:auto;
    border-radius: 1em;

}



.page
{
    height:auto;
    width: 1070px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #4884CD;
   border-radius: 1em;
  
}

.pageLogin
{
    
    width: 965px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #4884CD;
     border-radius: 1em;
   
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 965px;
    top: 0px;
    left: 0px;
    height: 64px;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    height: 55px;
}


.headerAdmin
{
     position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 960px;
    top: 0px;
    left: 0px;
    height: 54px;
}

.headerAdmin h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 40px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    height: 63px;
    width: 919px;
}

.mainAdmin
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height:420px;
    height: 82px;
    width: 930px;
     
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    font-size: smal;
     
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footerAdmin
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    height: auto;
}
.footer
{
    color: #4e5766;
    padding: 2px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height:  normal;
   
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#0092D2;
    width:1000px;
    height: 0;
    position:relative;
    top: -9px;
    vertical-align:middle;
    left:75px;
    z-index: 999999;
}

/* BACKUP 20130927 - RETIRADA DO MENU
div.hideSkiplink
{
    background-color:#0092D2;
    width:1000px;
    height: 0;
    position:relative;
    top: -24px;
    vertical-align:middle;
    right:9px;
    z-index: 999999;
}*/

div.hideSkiplinkAdmin
{
    background-color:#0092D2;
    width:1097px;
    height: 0;
    position:relative;
    top: -4px;
    vertical-align:middle;
    right:-42px;
    left: 82px;
}


div.menu
{
    padding: 4px 8px 4px 6px;
      display:block;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display:block;
}

div.menu a, div.menu a:visited
{
    background-color: #3BA4CB;
    border: 1px #0093D4 solid;
    color: #FFFFFF;
    display: block;
    line-height: 1.45em;
    padding: 3px 17px;
    text-decoration: none;
    white-space: inherit;
    display:block;
    behavior:url(border-radius.htc);border-radius: 1em;
}

div.menu a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    display:block;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
      display:block;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 1px;
    padding: 1em;
    border: 1px solid #3BA4CB;
    width: auto;
    height: auto;
    border-radius: 1em  ;
  
    
    
}

fieldsetReservas
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
    font-size: medium;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    width: 416px;
}



legend1 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    width: 426px;
}

input.textEntry 
{
    border: 1px solid #ccc;
    font-size: medium;
    font-weight: 700;
}

input.passwordEntry 
{
    width: 110px;
    border: 1px solid #ccc;
    font-size: medium;
}

div.accountInfo
{
    width: 87%;
    height: 299px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    
    height: auto;
    width: auto;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.titleAdmin
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    
     display: inherit;
    text-align: left;
    padding: 1px;
    color: #006AB2;
    height: auto;
    width: 501px;
    top: 20px;
    }
    
.siteMap
{
    
     display: inherit;
    text-align:left;
    
    color:#448FB1;
    height: 28%;
    width: 40%;
    top: 198%;
    font-weight:bold;
   
    
    }
 

    

.loginDisplayLegend
{
    
     
    text-align: left;
    padding: 19px;
    height: auto;
    width: auto;
    top: 2px 2px 3px;
    }

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.loginPage
{
    display: inherit;
    text-align: left;
    padding: 1px;
    height: auto;
    width: 501px;
    top: 11px;
}


.loginDisplayAdmin
{
    display: inherit;
    text-align: left;
    padding: 1px;
    color: #006AB2;
    height: auto;
    width: 501px;
    top: 20px;
}

.loginDisplayAdmin a:link
{
    color: white;
}

.loginDisplayAdmin a:visited
{
    color: green;
}

.loginDisplayAdmin a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 10pt;
    color: Red;
    font-weight: 700;
}

.bold
{
    font-weight: bold;
    width: 896px;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

input.botao, .btGeral {
	font-family: Verdana;
	font-size: 10pt;
	font-weight: 700;
	color: #4B6C9E;
	text-align: center;
	border: 1px solid #4B6C9E;
	cursor: auto;
    margin-top: 16px;
    }

.btPortaria {
	behavior:url(border-radius.htc);border-radius: 1em;
	text-align:center;

}

.MasterMenu
{
	background-color: #ADD8E6;
	border-top: Solid 3px #F5F5F5;
	padding: 3px;
	font-family: Verdana;
	font-size: 12px;
	color: Black;
}

.MasterMenuHover
{
	color: White;
}

/* Data Web Control Styles */

.DataWebControlStyle
{
    font-size: 100%;
}

.HeaderStyle
{
    background-color:#ADD8E6;
    color: white;
    font-weight: bold;
}

.HeaderStyle a, .HeaderStyle a:visited
{
    color: white;
}

.FooterStyle
{
    background-color: #ADD8E6;
    color: blue;
    text-align: center;
}

.AlternatingRowStyle
{
    background-color: #A4D8F3;
     border-radius: 1em;
    font-weight: 700;
    margin-left: 16px;
}

.RowStyle
{
}

.SelectedRowStyle
{
    background-color: #FFFFFF;
}

.PagerRowStyle
{
    background-color: #ddd;
    text-align: right;
}

.SortHeaderRowStyle
{
    background-color: #c00;
    text-align: left;
    font-weight: bold;
    color: White;
}

.Border
{
   
  
}

.BorderAdministrador
{
  
  border:none; 
  
}


.GridView
{
	border-style: outset;
    border-color: inherit;
    border-width: 2px;
    background-color: White;
	font-family: Verdana;
	font-size: 12px;
	color: Black;
    margin-top: 0px;
    margin-right: 0px;
}
.GridView td
{
	padding: 3px;
	color: Black;
	
}
.GridView td a
{
	color: Black;
	
}
.GridView th
{   
	background-color: #4884CD;
	padding: 3px;
	
}
.GridView th a
{
	font-weight: bold;
	color: Black;
	behavior:url(border-radius.htc);border-radius: 1em;
	behavior:url(border-radius.htc);
}
.GridViewEdit
{
	background-color: white;
	behavior:url(border-radius.htc);border-radius: 1em;
	behavior:url(border-radius.htc);
}
.GridViewPager td
{
	font-family: Verdana;
	font-size: 12px;
	color: Black;
	behavior:url(border-radius.htc);border-radius: 1em;
    margin-left: 40px;
}
/*/////////////////////////*/




.bodyHome
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	background-image: url("../images/superpag-fundo.gif");
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden !important;





input, textarea {
	border: 1px solid #999999;
	background-color: #f0f0f0;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	padding: 0px 2px 0px 2px;
	margin-left: 3px;
    margin-right: 0px;
    margin-top: 9px;
}





select {
	background-color: #f0f0f0;
	color: #666666;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	margin: 0px 15px 0px 3px;
}

.check input {
	border: 0px;
	margin: 0px 3px 0px 3px;
	vertical-align: middle;	
	background-color: transparent;
}

.radio input {
	border: 0px;
	margin: 0px 3px 0px 3px;
	vertical-align: middle;	
	background-color: transparent;
}
input.btLogin {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #990000;
	text-align: left;
	padding: 3px 1px 0px 10px;
	text-transform: lowercase;
	background-color: transparent;
	background-image: url(../images/btLogin.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 75px;
	height: 22px;
	border: 0px;
	cursor: pointer;
}



.conteudo {
	width: 1000px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.topSuperpag {
	width: 1000px;
	height: 100px;
	border: 0px;
	background-image: url(../images/superpag-header.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
}

.dadosLogin {
	margin: -34px 0px 0px -180px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	float: left;
}

.dadosLogin ul {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dadosLogin ul li {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	color: #000000;
}

.dadosLogin ul li.user {
	background-image: url(../images/icUser.gif);
	background-position: 0px 3px;
	-ms-background-position-x: 0px;
	-ms-background-position-y: 4px;
	background-repeat: no-repeat;
	background-color: Transparent;
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 35px;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	color: #000000;
	height: 24px;
}



.conteudoPagina {
	width: 810px;
	float: right;
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	text-align: left;
	line-height: 25px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.conteudoPagina tt {
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	line-height: 25px;
	font-weight: bold;
}

.saudacao {
	text-align: left;
	width: 500px;	
	border: 0px;	
	height: 470px;
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	line-height: 25px;
}

.dadosConteudo {
	text-align: left;
	width: 100%;	
	border: 1px solid #999999;
	min-height: 437px;	
	
}



.ajax__tab_default .ajax__tab_header {
	font-family: verdana,tahoma,helvetica;
	font-size: 8pt;
	font-weight: normal;
}

.ajax__tab_default .ajax__tab_outer {
	padding: 0px 9px 0px 0px;
	background:url("../images/abaRight.gif") no-repeat top right;
	height: 25px;
}

.ajax__tab_default .ajax__tab_inner {
	padding: 0px 0px 0px 12px;
	background:url("../images/abaLeft.gif") no-repeat;
	height: 25px;
}

.ajax__tab_default .ajax__tab_tab  {
	height: 25px;
	padding: 4px 0px 0px 0px;
	
	margin: 0px 0px 0px 0px;
	
	background:url("../images/bgAbas.gif") repeat-x;
	color: #666666;
}

.ajax__tab_default .ajax__tab_hover .ajax__tab_outer {
	background:url("../images/abaRight_on.gif") no-repeat top right;
}

.ajax__tab_default .ajax__tab_hover .ajax__tab_inner {
	background:url("../images/abaLeft_on.gif") no-repeat;
}

.ajax__tab_default .ajax__tab_hover .ajax__tab_tab {
	background: url("../images/bgAbas_on.gif") repeat-x;
	color: #FFFFFF;
}

.ajax__tab_default .ajax__tab_active .ajax__tab_outer {
	background:url("../images/abaRight_on.gif") no-repeat top right;
}

.ajax__tab_default .ajax__tab_active .ajax__tab_inner {
	background:url("../images/abaLeft_on.gif") no-repeat;
}

.ajax__tab_default .ajax__tab_active .ajax__tab_tab {
	 background:url("../images/bgAbas_on.gif") repeat-x;
	 color: #FFFFFF;
}

.ajax__tab_default .ajax__tab_body {
	font-family: verdana,tahoma,helvetica;
	font-size: 8pt;
	border-top: 2px solid #990000;
	color: #666666;
	background-color: transparent;
	padding: 4px 0px 0px 10px;
}

.form {
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    margin: 10px 0px 0px 10px;
    width: 837px;
}

gn: left;
	color: #333333;
}

.form td.btForm {
	text-align: right;
	padding: 5px 5px 10px 0px;
}

.form td {
	font-family: Verdana;
	font-size: 8pt;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #333333;
}

.form td.btForm {
	text-align: right;
	padding: 5px 5px 10px 0px;
}


.gridl th {
	background-color: #666666;
	border-bottom: 2px solid #666666;
	font-family: Verdana;
	font-size: 9pt;
	
   
	
	
}

.gridl td {
	background-color: #F0F0F0;
	border-bottom: 3px solid silver;
	font-family: Verdana;
	text-align:center;
	font-size: 9pt;
	font-weight: normal;
	color:black;
	text-align:center;
	padding: 1px 1px 1px 1px;
	line-height: 15px;
	
}
.grid tr
{
    border-radius: 1em;
}


.watermarked
{
	border: 1px solid #999999;
	height: 272px;
	background-color: white;
	font-family: Verdana;
	font-size: 6pt;
	font-weight: normal;
	text-align: left;
	padding: 0px 2px 0px 2px;
	margin: 0px 15px 0px 3px;
    width: 647px;
    border-radius: 1em;
   
}

.ContextMenuPanel 
{
	z-index: 1000;
	cursor: pointer;
	border: 1px solid #999999;
	background-color: #f0f0f0;
	color: #666666;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	padding: 0px 2px 0px 2px;
	margin: 0px 5px 0px 3px;
	behavior:url(border-radius.htc);border-radius: 1em;
	behavior:url(border-radius.htc);
    width: 635px;
}

.ContextMenuBreak
{
	margin:1px 1px 1px 32px;
	padding:0;
	height:1px;
	overflow:hidden;
	display:block;
	border-top: 1px solid #999999;	
	   behavior:url(border-radius.htc);border-radius: 1em;
	   behavior:url(border-radius.htc);
}

a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #666666;
}	

a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #666666;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;	
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
}



.controleCalendario {
	border-style: none;
    border-color: inherit;
    border-width: 0px;
background-image: url('../images/superpag-header.gif');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: Transparent;
	margin: 0px 0px 0px 2px;
    font-weight: 700;
    height: 159px;
    width: 148px;
}

.modalPopup {
	background-color:#f0f0f0;
	border: 1px solid #999999;
	padding: 2px 2px 2px 2px;
	width: 250px;
}

.modalHeader {
	background-color: #990000;
	padding: 2px 2px 2px 2px;
	text-align: left;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
}

.sampleStyleA {
	background-color:#FFFFFF;
	padding: 2px 2px 2px 2px;
	font-family: Verdana;
	font-size: 8pt;
	color: #333333;
	font-weight: normal;
}

.sampleStyleB {
	background-color:#FFFFFF;
	padding: 1px 1px 1px 1px;
	
	border-style: double;
    border-color: inherit;
    border-width: 2px;
     behavior:url(border-radius.htc);border-radius: 1em;
	font-family: Verdana;
	font-size: 10px;
	color: Black;
    margin-top: 0px;
    behavior:url(border-radius.htc);
}

.sampleStyleC {
	background-color:#f0f0f0;
	padding: 2px 2px 2px 2px;
	font-family: verdana;
	font-size: 8pt;
	font-style: italic;
	color: #333333;
}

.sampleStyleD {
	background-color: #f0f0f0;
	col

.sampleStyleD {
	background-color: #f0f0f0;
	color: #333333;
	font-family: Verdana;
	font-size: 8pt;
	border: 1px dotted #990000;
    font-weight: 700;
}

   color: #FFFFFF;
    background-color: #990000;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #999999;
    color: #FFFFFF;
    background-color: #CC0000;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
    padding: 5px ;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    border: 2px solid #0093d4;
    background-color: #F0F0F0;
    padding: 5px 5px 5px 5px;
    font-family: Verdana;
    font-size: 8pt;
    color: #666666;
    behavior:url(border-radius.htc);border-radius: 1em;
    height: 15px;
    font-weight: 700;
}

.dysplayLogin
{
    background-color: #E5F2F3;
    border-left: 1px solid #0093d4;
    border-right: 1px solid #0093d4;
    border-bottom: 1px solid #0093d4;
    border-top:  1px solid #0093d4;
    padding: 5px 5px 5px 5px;
    font-family: Verdana;
    font-size: 8pt;
    color: black;
    border-radius: 1em;
    height: 15px;
    
}

.redondo
{
      behavior:url(border-radius.htc);border-radius: 1em;
    height: 47px;
    behavior:url(border-radius.htc);
    font-weight: 700;
}


.instruct
{
    background-color: #BFCBD6;
    border-left: 1px dotted #999999;
    border-right: 1px dotted #999999;
    padding: 2px 2px 2px 2px;
    font-family: Verdana;
    font-size: 8pt;
    color: #666666;
    behavior:url(border-radius.htc);border-radius: 1em;
    height: 13px;
    font-weight: 700;
}

   
.InstructionPhotoDisplay
{
    
    display: block;
    text-align: left;
    padding: 9px;
     font-size: 9pt;
    height: auto;
    width: 400px;
    top: 1px;
    }
        

.seuAnuncios
{
     background-color: #BFCBD6;
        border-left: 1px dotted #999999;
        border-right: 1px dotted #999999;
        border-bottom: 1px dotted #999999;
        padding: 3px 3px 3px 3px;
        font-family: Verdana;
        font-size: 8pt;
        color: #0000FF;
        behavior:url(border-radius.htc);border-radius: 1em;
        width:520px;
      
    
}

.seuAnunciosTst
{
     background-color: #BFCBD6;
        border-left: 1px dotted #999999;
        border-right: 1px dotted #999999;
        border-bottom: 1px dotted #999999;
        padding: 3px 3px 3px 3px;
        font-family: Verdana;
        font-size: 7px;
        color: #0000FF;
        behavior:url(border-radius.htc);border-radius: 1em;
        width:420px;
    height: 25px;
   
}

.accordionContent a:link, .accordionContent a:acti

.accordionContent a:link, .accordionContent a:active, .accordionContent a:visited
{
    font-family: Verdana;
    font-size: 12pt;
    color: #990000;
    text-decoration: underline;
}

;
    font-size: 8pt;
    color: #990000;
    text-decoration: none;
}

.container:before, .container:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

.container:after {
    clear:both;
}

/* Css para o classificado*/
.containerClass {
    width:458px;
    margin:10 auto;
    border:0px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#ffffff;
    position:absolute;
    left:48%;
}

.containerClass:before, .container:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

.containerClass:after {
    clear:both;
}

.mainbodyClass {
    border-left: 2 solid #eee;
    border-right: 0px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
    height:250px;
    width:457px;
    background-color:#EAEAEA;
    }


.headerEnqueteClass, .FooterEnqueteClass {
    height: 32px;
    padding: 2px;
    background-color: #E0E0E0;
    width: 454px;
    font-weight: 700;
}


.FooterEnqueteClass {
    background-color: whiteSmoke; 
     -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    
   
}



/*fim*/
.container {
    width:388px;
    margin:0 auto;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#ffffff;
    font-weight: 700;
}




.mainbody {
    border-left: 0 solid #eee;
    border-right: 0 solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height:250px;
    width:389px;
    background-color:#EAEAEA;
    }


.headerEnquete, .FooterEnquete {
    height: 32px;
    padding: 4px;
    background-color: #E0E0E0;
    width: 381px;
  
  
}


.FooterEnquete {
    background-color: whiteSmoke; 
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

/* Telefones uteis - css */
.containerTel {
    width:258px;
    margin:0 auto 0 0px;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#ffffff;
    position:absolute;
    left:70%;
    top:45%;
}




.mainbodyTel {
    border-left: 0 solid #ee




.mainbodyTel {
    border-left: 0 solid #eee;
    border-right: 0 solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height:60px;
    width:258px;
    background-color:white;
    font-size: medium;
}


px;
    padding: 2px;
    background-color: #E0E0E0;
    width:255px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  
  
}


px;
    padding: 2px;
    background-color: #E0E0E0;
    width:255px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  
  
}


.FooterEnqueteTel {
    background-color: whiteSmoke; 
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}


.ctnt
{
    position: relative;
    overflow: visible;
    display: block;
    padding: 0px;
    margin: 0px auto 0px auto;
}
hr {
      color: #3BA4CB;
      background-color: #3BA4CB;
      height: 1px;
    }


.gridviewImport{
    background-color:#fff;
   
   padding:2px;
   margin:2% auto;
   
   
}


.gridviewImport a{
  margin:auto 1%;
    border-radius:50%;
      background-color:#444;
      padding:5px 10px 5px 10px;
      color:#fff;
      text-decoration:none;
      -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;
     
}

.gridviewImport a:hover{
    background-color:#1e8d12;
    color:#fff;
}

.gridviewImport span{
    background-color:#ae2676;
    color:#fff;
     -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;

    border-radius:50%;
    padding:5px 10px 5px 10px;
}

.modal
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading
    {
        font-family: Arial;
        font-size: 12pt;
        border: 2px solid #67CFF5;
        width: 300px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }


.background
{
    font-family: Arial;
        font-size: 12pt;
        border: 2px solid #67CFF5;
        width: 300px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid #222222;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #999999;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #33b5e5;
}

.gvHeader th{
   padding:3px; 
    background-color:#DDEECC; 
   color:maroon; 
   border:1px solid #bbb;}
 .gvRow td{padding:3px; 
    background-color:#ffffff; 
    border:1px solid #bbb;}
.gvAltRow td{
    padding:3px; 
    background-color:#f1f1f1; 
    border:1px solid #bbb;}
    
    
    .gvHeader th:first-child{display:none;} .gvRow td:first-child{display:none;} .gvAltRow td:first-child{display:none;} 
/*;